$colors: (
	primary: #45ADA8,
	secondary: #EFC958,
	accent: #BDBDBD,
	button: #FECEAB,
	danger: #C62828,
	warn: #FFEE58,
	link: #E5FCC2,
	link_active: #900,
	link_dark: #fff,
	link_dark_active: #fff,
	lite_grey: #f5f5f5,
	mid_grey: #000,
);
