.icon-container {
	&__empty {
		border-radius: 50% 50%;
		height: 215px;
		overflow: hidden;
		position: relative;
		width: 215px;

		img.icon {
			height: auto;
			left: -100px;
			position: absolute;
			top: -50px;
			width: 415px;
		}
	}
}
