html, body {
	background: #fafafa;
}

.header {
	&__h1 {
		color: map-get($colors, secondary);
		font-weight: 300;
		font-size: 42px;
		margin-bottom: 25px;

		&.invert {
			color: #fff;
		}
	}

	&__h3 {
		color: map-get($colors, primary);
		font-weight: 300;
		font-size: 30px;
		margin-bottom: 25px;

		&.invert {
			color: #fff;
		}
	}
}

.mt {
	&20 {
		margin-top: 20px;
	}
}
