.totals {
	margin-bottom: 20px;

	&.bg {
		&-danger .v-card {
			background: map_get($colors, danger);

			.amount, .amount-text {
				color: #fff;
			}
		}

		&-success .v-card {
			background: darken(map_get($colors, success), 10%);

			.amount, .amount-text {
				color: #fff;
			}
		}
	}

	.amount {
		font-size: 32px;
		font-weight: bold;
		margin: 0;

		&-text {
			color: map_get($colors, mid_grey);
			font-size: 18px;
			font-weight: 300;
			margin: 0;
		}

		&.amount-success {
			color: map_get($colors, success);
		}

		&.amount-danger {
			color: map_get($colors, danger);
		}
	}
}
