.budget {
	&__row {
		border-bottom: 1px solid lighten(map_get($colors, mid_grey), 10%);
		padding: 30px 0 20px;

		&:last-of-type {
			border-bottom: 0;
		}
	}

	&__due {
		background: map-get($colors, danger);
		color: #fff;
		text-align: center;
	}

	&__title {
		font-size: 24px !important;
		font-weight: 300;
		margin-bottom: 5px;
	}

	&__type {
		color: map_get($colors, mid_grey);
		font-style: italic;
		margin: 0;
	}

	&__paid {
		background: map-get($colors, success);
		color: #fff;
		margin: 0;
		text-align: center;
	}

	&__price {
		font-size: 20px;
		font-weight: bold;
		margin: 0;

		&.price-danger {
			color: map_get($colors, danger);
		}

		&.price-success {
			color: map_get($colors, success);
		}

		&.price-tac {
			text-align: center;
		}
	}

	&__price-details {
		color: map-get($colors, mid_grey);
		text-align: center;
	}
}
