.budget {
	&.page {
		@include dashboardHeader;
	}

	.header__h1 {
		margin-bottom: 0;
	}

	.v-icon.prepend-icon {
		margin-right: 5px;
		text-align: center;
	}

	.round-icon {
		display: inline-block;
		padding: pxtoem(10);
		@include border-radius(50%);

		.v-icon {
			color: #fff;
			font-size: pxtoem(26);
			font-weight: bold;
		}

		&.danger {
			color: map_get($colors, danger);
		}

		&.success {
			color: map_get($colors, success);
		}
	}

	.list-header {
		font-size: pxtoem(28);
		font-weight: 300;
	}

	.list-text {
		color: map_get($colors, mid_grey);
		margin: 0;

		span {
			font-weight: bold;

			&.danger-text span {
				color: map_get($colors, danger);
			}

			&.success-text span {
				color: map_get($colors, success);
			}
		}
	}
}
