.budget-edit {
	&.page {
		@include dashboardHeader;
		padding-top: 80px;

		.header__h1 {
			margin-bottom: 0;
		}

		.cycle-title {
			color: map-get($colors, mid_grey);
			font-size: 14px;
			margin-bottom: 35px;
			padding-left: 3px;
		}
	}

	.sidebar {
		.v-card {
			margin-bottom: 20px !important;
		}
	}

	.amount {
		font-size: 32px;
		font-weight: bold;
		margin: 0;

		&-text {
			color: map_get($colors, mid_grey);
			font-size: 18px;
			font-weight: 300;
			margin: 0;
		}

		&.amount-success {
			color: map_get($colors, success);
		}

		&.amount-danger {
			color: map_get($colors, danger);
		}
	}
}
