.confirm-dialog {

}

.dialogs {

}

.confirm-card {
	padding: 20px;
}

.danger {
	color: map-get($colors, danger) !important;
}

.success {
	color: map-get($colors, success) !important;
}

.warn {
	color: map-get($colors, warn) !important;
}

.btn-danger {
	background: map-get($colors, danger) !important;
}

.btn-success {
	background: map-get($colors, success) !important;
}

.btn-warn {
	background: map-get($colors, warn) !important;
}

.confirm-icon {
	display: block;
	font-size: 8em;
}

.confirm-text {
	font-size: 20px;
}
