.home.page {
	@include dashboardHeader;

	.header__h1 {
		margin-bottom: 0;
	}

	.chart-title {
		color: darken(map_get($colors, mid_grey), 15%);
		font-size: pxtoem(28);
		font-weight: 300;
	}

	.summary-cards {
		@include colgrid(0.25, 3);

		.col {
			text-align: right;
		}

		.summary-card__earned {
			@include summaryCard(map_get($colors, secondary), darken(map_get($colors, mid_grey), 20%));
		}

		.summary-card__saved {
			@include summaryCard(map_get($colors, primary), #fff);
		}

		.summary-card__spent {
			@include summaryCard(map_get($colors, danger), #fff);
		}
	}
}
