#search-card-totals {
	color: #fff;
	margin-bottom: pxtoem(32);
	padding: pxtoem(16);

	&.saved {
		background: map_get($colors, primary);
	}

	&.spent {
		background: map_get($colors, danger);
	}

	h2 {
		font-size: pxtoem(36);
		font-weight: 300;
		margin-bottom: pxtoem(20);
	}

	p {
		&:last-of-type {
			margin: 0;
		}

		&.total-amount {
			font-size: pxtoem(64);
			font-weight: bold;
		}

		span {
			font-size: pxtoem(18);
			font-weight: bold;
		}
	}
}
